* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-ui {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  padding-left: 20px;
  width: 900px;
  height: 100%;
  background-color: #dedede;
}

.sources {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.demo-game {
  position: fixed;
  top: 0;
  left: 0;
  height: 1700px;
  width: 1700px;
  pointer-events: none;
  background-color: #383838;
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 2000px;
  width: 2000px;

  &--grid {
    background-color: #1d1d1d;
  }

  &--cells {
    pointer-events: none;
  }
}
