@import url(../fonts/bahnschrift.ttf);
@import url(../fonts/BAUHS93.TTF);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #d15e56;
  --seccondary-color: #2c2c2c;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "bahnschrift", "sans-serif";
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-ui {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  padding: 80px;
  width: 40%;
  max-width: 900px;
  height: 100%;
  background-color: #dedede;
  flex-direction: column;
  color: var(--seccondary-color);

  &__info-title {
    font-family: "Bauhaus 93", "sans-serif";
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 40px;
  }

  &__info-section {
    font-weight: 600;
    text-align: justify;
    // padding-right: 100px;
  }

  &__controlls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex: 1;
    font-weight: 600;
    align-items: flex-end;

    &__play-button {
      width: 250px;
      height: 50px;
      background-color: var(--primary-color);
      border-radius: 50px;
      border: 2px solid var(--primary-color);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 40px;
      letter-spacing: 1px;
      font-family: "bahnschrift", "sans-serif";
      transition: all 0.5s;

      &:hover {
        background-color: white;
        color: var(--primary-color);
        cursor: pointer;
      }
    }

    &__template-button {
      width: 150px;
      height: 40px;
      border: 2px solid var(--primary-color);
      color: var(--seccondary-color);
      margin-left: 10px;
      font-size: 15px;
      font-family: "bahnschrift", "sans-serif";
      transition: all 0.5s;

      &:hover {
        background-color: var(--primary-color);
        color: white;
        cursor: pointer;
      }
    }

    &__empty-canvas-button {
      display: none;
    }
  }
}

.sources {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;

  &__more-info {
    color: var(--primary-color);

    &:hover {
      color: var(--seccondary-color);
    }

    &:visited {
      color: var(--primary-color);
    }
  }
}

.game {
  position: fixed;
  top: 0;
  left: 0;
  height: 2000px;
  width: 2000px;
  pointer-events: none;
  background-color: #383838;
  pointer-events: visible;

  .canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 2000px;
    width: 2000px;

    &--grid {
      background-color: #383838;
    }

    &--cells {
      pointer-events: none;
    }
  }
}

.start-hide {
  animation: start-hide 1s ease-in-out forwards;
}

.hide {
  display: none;
}

.game-menu {
  position: fixed;
  top: 0;
  bottom: 30px;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  pointer-events: none;

  &__info {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    padding: 20px;
    width: 300px;
    height: 100%;
    background-color: #dedede;
    z-index: 2;
    flex-direction: column;
    color: var(--seccondary-color);
    transition: all ease-in-out 0.5s;
    transform: translateX(280px);
    pointer-events: visible;

    .section-info {
      font-family: "Bauhaus 93", "sans-serif";
      color: var(--primary-color);
      letter-spacing: 1px;
    }

    &:hover {
      transform: translateX(0);
    }
  }

  &__info-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info-slot {
      display: flex;
      justify-content: space-between;
      .info-slot-info {
        color: var(--primary-color);
        font-size: 20px;
      }
    }
  }

  &__controls {
    width: 900px;
    height: 50px;
    background-color: #dedede;
    border-radius: 50px;
    pointer-events: visible;
    ul {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      padding-right: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .game-controls__button {
        border: 2px solid var(--primary-color);
        background-color: white;
        height: 30px;
        width: 100px;
        font-family: "bahnschrift", "sans-serif";
        font-weight: 600;
        font-size: 15px;
        flex: 1;

        &--main {
          color: white;
          height: 40px;
          background-color: var(--primary-color);
          border-radius: 40px;
          width: 200px;
          flex: 2;

          font-size: 30px;
        }
        &--slider {
          width: 250px;
        }
      }
    }
  }
}

@keyframes start-hide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(900px);
    display: none;
    pointer-events: none;
  }
}

@media (max-height: 800px) {
  .main-ui {
    &__presentation {
      max-height: 300px;
      // background-color: blue;
      margin-bottom: 50px;
    }
    &__info-section {
      max-height: 200px;
      overflow-y: scroll;
      padding-right: 0;
      background-color: #d0d0d0;
      border-radius: 7px;
      padding: 0 20px;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media (max-height: 600px) {
  .sources {
    display: none;
  }
}
