@import url(../fonts/bahnschrift.ttf);
@import url(../fonts/BAUHS93.TTF);

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #d15e56;
  --seccondary-color: #2c2c2c;
}

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "bahnschrift", "sans-serif";
}

.main-ui {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  padding: 80px;
  width: 900px;
  height: 100%;
  background-color: #dedede;
  flex-direction: column;
  color: var(--seccondary-color);

  &__info-title {
    font-family: "Bauhaus 93", "sans-serif";
    color: var(--primary-color);
    letter-spacing: 1px;
    font-size: 40px;
  }

  &__info-section {
    font-weight: 600;
    text-align: justify;
    padding-right: 100px;
  }
}

.sources {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
}

.demo-game {
  position: fixed;
  top: 0;
  left: 0;
  height: 1700px;
  width: 1700px;
  pointer-events: none;
  background-color: #383838;

  &____canvas {
    height: 100%;
    width: 100%;
  }
}

.canvas {
  position: fixed;
  top: 0;
  left: 0;
  height: 2000px;
  width: 2000px;

  &--grid {
    background-color: #1d1d1d;
  }

  &--cells {
    pointer-events: none;
  }
}
